.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header p {
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-slider {
  width: 60vw;
}

.slick-slider img {
  max-width: 60vw;
  max-height: 60vh;
  margin: auto;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '>';
}

.slick-prev:before, [dir=rtl] .slick-next:before {
  content: '<';
}
